<section class="articles-grid py-8 px-5 lg:py-24 lg:px-8" aria-label="Artículos">
  <div class="articles-grid__container w-full max-w-[1542px] mx-auto flex flex-col gap-[48px]">
    <header class="articles-grid__header flex flex-col gap-6">
      <h2
        class="articles-grid__title font-bold text-[30px] leading-8 text-black lg:text-[48px] lg:leading-[58px]"
      >
        {{ sectionTitle() }}
      </h2>
      <div
        class="articles-grid__toolbar flex flex-col gap-[10px] lg:flex-row lg:items-center lg:justify-between w-full"
      >
        <p class="articles-grid__subtitle text-lg leading-7 text-black">
          {{ sectionSubtitle() }}
        </p>
        <app-search-input ariaLabel="Lorem impsum"/>
      </div>
    </header>

    <div class="articles-grid__list grid grid-cols-1 gap-8 lg:grid-cols-3">
      @for (article of articles(); track article.id) {
        <app-article-card
          [articleDate]="article.date"
          [articleDateTime]="article.datetime"
          [articleTitle]="article.title"
          [articleDescription]="article.description"
          [articleImageUrl]="article.imageUrl"
          [articleImageAlt]="article.imageAlt"
        />
      }
    </div>
  </div>
</section>
