@import "tailwindcss";
@source "./app";

@theme {
  --color-primary: #e4002b;
  --color-body: #343a40;
  --color-neutral: #bdbdbd;
  --color-surface: #f4f4f5;
  --color-muted: #a6a2a2;

  --font-sans: 'Inter', sans-serif;

  --shadow-card: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}